<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>信泰考勤登陆</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/static/iCheck/square/blue.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="/static/css/google_font.css" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>信泰考勤系统</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="../../index2.html" method="post" id="login_form">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="用户名" id="userName" name="userName">
                    <span class="fa fa-envelope form-control-feedback"></span>
                    <span id="userName_alert" style="color: red;visibility: hidden">用户名为空，请输入！</span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="密码" id="pwd" name="pwd">
                    <span class="fa fa-lock form-control-feedback"></span>
                    <span id="pwd_alert" style="color: red;visibility: hidden">密码为空，请输入！</span>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> 记住我
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" id="login_btn">登陆</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/static/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- iCheck -->
<script src="/static/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $("#login_btn").click(function () {
            var user = $("#userName").val();
            var pwd = $("#pwd").val();
            var verify=true;
            if(user.length==0) {
                $("#userName_alert").css("visibility", "visible");
                verify=false;
            }else {
                $("#userName_alert").css("visibility", "hidden");
            }
            if(pwd.length==0) {
                $("#pwd_alert").css("visibility", "visible");
                verify=false;
            }else {
                $("#pwd_alert").css("visibility", "hidden");
            }
            if(verify) {
          /*      $.ajax({
                    url: "",
                    type:"",
                    data:"",
                    success:function (data) {
                        alert(data);
                    }
                });*/
          $("#login_form").submit();
            }
        })
    })
</script>
</body>
</html>
